.drop-down-grid {
    display: grid;
    background-color: black;
    grid-template-rows: 1fr minmax(2fr, auto);
    justify-items: center;
}

.star-wars-img {
    width: 200px;
    height: 100px;
    margin-bottom: 10%;
}

.drop-down-items {
    margin-bottom: 10%;
}

.char-input {
    margin-bottom: 20%;
}

li :hover {
    background: purple;
}