.App {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 10%;
}

.drop-down {
  grid-column: 2;
  grid-row: 1;
}

.movie-table {
  background-color: black;
  grid-column: 4;
  grid-row: 1 / span 2;
}

.pagination {
  background-color: black;
  color: white;
  grid-column: 4;
  grid-row: 3;
}

.details-list {
  background-color: black;
  color: yellow;
  grid-column: 2;
  grid-row: 2 / span 1;
}

img {
  max-height: 100%;
  max-width: 100%;
}